.hero{
    background-image: url('./images/img3.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero h1{
    font-weight: 400;
    text-shadow: 2px 2px 2px #576457;
}
.hero p{
    font-weight: 400;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #576457;
}
.head h1{
    text-align: center;
    text-transform: uppercase;
}
.head h1 span{
    color: 	#d9534f;
}

.projects-head{
    text-align: center;
}
.projects-head h2{
    text-transform: uppercase;
}
.projects-head h2 span{
    color: #d9534f;
}
.projects-head a{
    text-decoration: none;
    color: 	#000;
}
footer{
    height: 4rem;
    margin-bottom: -1rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
}
/* Media Query */
@media only screen and (max-width:403px){
    footer{
        margin-top: 1rem;
        font-size: 1rem;
    }
}
/* End of Media Query */